html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h2 {
  margin: 10px;
}

table,
tr,
td {
    border: 1px solid black;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    background-color: white;
    margin: 0 auto;
}

tr {
    height: 1vw;
}

td {
    width: 1vw;
}

#modal {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  padding: 1vw;
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
}

#modal #colorContainer {
  padding: 10px;
}

#modal #modalContainer > div {
  display: flex;
  justify-content: space-between;
}

#modal #modalContainer > div div{
  width: 15%;
  height: 50px;
  border: 1px solid black;
}

#modal #modalContainer > div div:hover{
  cursor: pointer;
}

#modal #modalContainer > div div:first-child{
  background-color: #CD5C5C;
}

#modal #modalContainer > div div:nth-child(2){
  background-color: #F0E68C;
}

#modal #modalContainer > div div:nth-child(3){
  background-color: #8A2BE2;
}

#modal #modalContainer > div div:nth-child(4){
  background-color: #3CB371;
}

#modal #modalContainer > div div:nth-child(5){
  background-color: #D2691E;
}